
  
body {
    background: black;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    font-size: $font-size;
    @extend %title-set-up;
    
    .logo {
        width: 50%;
    } 
    p {
        font-size: $font-size;
        color: $text-color;
        padding-bottom: 20px;
        padding-top: 30px;
    }
    #my-select-menu {
        width: 100px;
        background-color: white;
    }
        @include tablet{
            flex-direction: row;
            justify-content: center;

            .logo{
                width: 25%;
                padding: 0px 20px 0px 0px;
            }
            .section {
                display: flex;
                flex-direction: column;
            }
            p {
                padding: 0px 0px 10px 0px;
            }
}
    @include desktop{
        flex-direction: row;
        justify-content: flex-start;

        .logo {
            width: 20%;
            padding: 20px 20px 0px 20px;
        }
        .section {
            display: flex;
            flex-direction: column;
        }
        p {
            padding: 0px 0px 10px 0px;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    @include desktop {
        flex-wrap: wrap;
    }
    .articleContainer {
        background-size: cover;
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        @include tablet {
            width: 33.33333%;
            height: 300px;
        }
        @include desktop {
            width: 25%;
            height: 400px;
        }       
        .articleTitle{
            @extend %title-set-up;
            padding: 3%;
            line-height: 1.2rem;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            opacity: 0;
            bottom: -100px;
            transition: 0.5s;
            width: 94%;
        }
        .articleBox {

        }
    }
}

.moving-logo {
    animation: moving-logo 1s ease-in-out both;
    @include tablet {
        animation: moving-logo-tablet 1s ease-in-out both;
    }
    @include desktop {
        animation: moving-logo-desktop 1s ease-in-out both;
    }
    }


.moving-section {
    animation: moving-section 1s ease-in-out both;
    @include tablet {
        animation: moving-section-tablet 1s ease-in-out both;
    }
    @include desktop {
        animation: moving-section-desktop 1s ease-in-out both;
    }
}
.moving-body {
    animation: moving-body 1s ease-in-out both;
    @include tablet {
        animation: moving-body-tablet 1s ease-in-out both;
    }
    @include desktop {
        animation: moving-body-desktop 1s ease-in-out both
    }
}

/* Mobile Header Animation */

@keyframes moving-logo{
    0% {transform: translateY(0px) scale(1);}
    100% {transform: translate(0px, 250px) scale(0.5);}
}
@keyframes moving-section{
    0% {transform: translateY(0px);}
    100% {transform: translate(0px, 200px);}
}
@keyframes moving-body{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-500px);}
}

/* Tablet Header Animation */

@keyframes moving-logo-tablet{
    0% {transform: translateY(0px) scale(1);}
    100% {transform: translate(-5px, 300px) scale(0.5);}
}
@keyframes moving-section-tablet{
    0% {transform: translateY(0px);}
    100% {transform: translate(-50px, 300px);}
}
@keyframes moving-body-tablet{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-600px);}
}

/* Desktop Header Animation */

@keyframes moving-logo-desktop{
    0% {transform: translateY(0px) scale(1);}
    100% {transform: translate(-100px, 320px) scale(0.3);}
}
@keyframes moving-section-desktop{
    0% {transform: translateY(0px);}
    100% {transform: translate(-200px, 320px);}
}
@keyframes moving-body-desktop{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-650px);}
}

.articleContainer:hover .articleTitle {
    bottom: 0;
    opacity: 1;   
}

footer {
    @extend %title-set-up;
    color: #c2c2c2;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: $font-size;

    @include desktop {
        text-align: left;
        padding: 10px 0px 10px 20px;
    }
}


